@charset "utf-8";


body {
    min-width: 100%;
}
.inner_1500 {
    width: 95%;
}
.inner {
    width: 95%;
}
.nav {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    z-index: 200;
    padding-top: 20%;
    background-color: #fff;
    transform: translateX(100%);
    flex-direction: column;
}
header > .inner {
    width: 100%;
}
header > .inner > .on {
    transform: translateX(0);
    transition: all 0.3s;
}
.nav > li {
    width: auto;
}
.nav > li > a {
    width: 200px; 
    display: inline-block;
    padding-right: 20px;
    font-size: 1.5rem;
    color: #4D4D4D;
    height: 80px;
    line-height: 80px;
}
.nav li a:hover {
    color: #4D4D4D;
}
.nav .sub {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow-y: hidden;
}
.brandBt ~ .on {
    height: 100px;
    transition: all 0.3s;
}
.techBt ~ .on {
    height: 300px;
    transition: all 0.3s;
}
.nav .sub li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
}
.nav .sub li > a {
    display: inline-block;
    font-size: 1rem;
    color: #4D4D4D;
}
.close {
    position: fixed;
    right: 20px;
    top: 20px;
    display: block;
    color: #4D4D4D;
}
.closeBt {
    display: block;
    font-size: 40px;
}
header.on .hamburger {
    color: #4d4d4d;
}
.hamburger {
    display: block;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 20px;
}
header > .inner {
    display: flex;
    justify-content: center;
}
.cateBanner {
    height: 400px;
}
.cateBanner::before {
    height: 400px;
}
.cateBanner > .inner > .wrap {
    width: 95%;
}
.cateBanner > .inner > .wrap > h2 {
    font-size: 45px;
}
.cateBanner > .inner > .wrap > h2::after {
    width: 8px;
    height: 8px;
    border-radius: 8px;
}
.cateBanner > .inner > .wrap > p {
    font-size: 18px;
}
.tab > .inner {
    width: 95%;
    height: 80px;
}
.ourStory > .inner_1500 > .inner {
    height: auto;
    padding: 100px 0 50px 0;
}
.ourStory .ourStory_img {
    width: 100%;
    height: 300px;
}
.ourStory .ourStory_text {
    position: unset;
}
.ourStory .ourStory_text p:first-child {
    font-size: 100px;
    padding-bottom: 20px;
}
.ourStory .ourStory_text p:nth-child(2),
.ourStory .ourStory_text p:nth-child(3),
.ourStory .ourStory_text p:nth-child(4) {
    text-align: justify;
}
.ourStory .ourStory_text p > br {
    display: none;
}
.OurPurpose_Vision > .inner > .wrap > h3 {
    font-size: 45px;
}
.OurPurpose_Vision > .inner > .wrap > p {
    font-size: 16px;
}
.OurPurpose_Vision > .inner > .wrap > p:first-of-type {
    display: none;
}
.lotus > .inner_1500 > .inner {
    padding: 25% 0;
    height: auto;
}
.lotus_img {
    width: 100%;
    height: 470px;
    margin-bottom: 0;
}
.lotus_img::after {
    width: 24px;
    height: 24px;
    right: 23%;
    bottom: 35px;
}
.lotus_img > .lotusBt.on {
    color: #D0112B;
    transform: scale(1.2);
    transition: all 0.7s ease;
}
.lotus_img > span ~ .lotus_txt {
    width: 100%;
    height: 140px;
    padding: 30px;
    opacity: 1;
    transition: all 0.7s ease;
    position: absolute;
}
.lotusTxt {
    opacity: 0;
}
.lotusTxt.on {
    opacity: 1;
    transition: all 1s;
}
.lotus_txt > div > p:first-child {
    font-size: 20px;
}
.lotus_txt > div > p:last-child {
    font-size: 14px;
}
.lotus_img > span {
    padding: 10px;
}
.lotus_img > .connect {
    padding-right: 10px;
}
.socialImpact > .inner_1500 > .inner {
    padding: 100px 0 50px 0;
}
.socialImpact_wrap {
    flex-direction: column;
    padding-bottom: 50px;
}
.socialImpact_wrap > .socialImpact_txt1 {
    align-self: center;
}
.socialImpact_wrap > .socialImpact_txt1 h3 {
    text-align: center;
}
.socialImpact_wrap > .socialImpact_txt1 br {
    display: none;
}
.socialImpact_wrap > .socialImpact_txt1 p:last-child {
    text-align: center;
}
.socialImpact_wrap > .socialImpact_img1 {
    display: none;
}
.socialImpact_wrap > .socialImpact_img2 {
    width: 100%;
    height: 300px;
}
.socialImpact_wrap > .socialImpact_txt2 {
    align-self: center;
}
.socialImpact_wrap > .socialImpact_txt2 p {
    text-align: center;
    padding-top: 50px;
}
.socialImpact_wrap > .socialImpact_txt2 p br {
    display: none;
}
.hereToBe_img {
    width: 100%;
    height: 32vw;
}
.socialImpact .img_wrap {
    flex-direction: column;
}
.impactCount {
    padding: 123px 0;
}
.slide {
    height: 420px;
}
.slide .slideWrap .slide_ba {
    padding: 35px;
}
.slide .slideWrap .slide_ba .slide_cir {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
.slide .slideWrap .slide_ba .slide_txt p:last-child {
    font-size: 25px;
    height: 92px;
}
.slide .slideWrap .slide_ba .slide_cir > li > span {
    font-size: 13px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
}
footer {
    height: 140px;
    padding: 15px 0;
}
.footer_txt {
    font-size: 12px;
}
.footer_txt > ul {
    justify-content: center;
}
footer > .inner {
    display: flex;
    flex-direction: column-reverse;
} 
.footer_left > .logo {
    display: none;
}
.footer_right {
    padding-bottom: 15px;
}
