body {
    width: 100%;
}
.inner {
    width: 95%;
}
.sec1::before,
.sec4::before {
   content: none;
}
.sec1 .inner {
    height: 100%;
}
.mainTxt {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mainTxt .text {
    text-align: center;
}
.mainTxt .text1 {
    font-size: 65px;
}
.mainTxt .text2 {
    font-size: 14px;
}
.sec1 > .inner p {
    right: -130px;
    font-size: 12px;
    letter-spacing: 5px;
    bottom: 140px;
}
.sec1 > .inner > .leftWrap > span:first-child {
    font-size: 20px;
}
h2 {
    font-size: 45px;
}
.sec2 {
    height: auto;
}
.sec2 .inner {
    flex-direction: column;
}
.sec2 .textWrap {
    padding-left: 0;
    text-align: center;
}
.sec2 h2 + p {
    display: inline-block;
    font-size: 18px;
}
.sec2 h2 + p::before {
    top: 30px;
    left: -60px;
    font-size: 100px;
}
.sec2 h2 + p::after {
    right: -55px;
    bottom: 30px;
    font-size: 100px;
}
.sec2 .textWrap h4 ~ p {
    font-size: 14px;
}
.talkWrap .talk {
    width: 100%;
    height: 125px;
    background-size: contain;
}
.talkWrap .talk span {
    font-size: 13px;
    padding: 0 25px;
    word-break: keep-all;
}
.talk02, .talk04 {
    margin-left: 0;
    float: right;
}
.sec3 .project {
    width: 1560px;
}
.project .textWrap {
    padding-bottom: 15px;
}
.project h3 {
    font-size: 30px;
}
.project h4 {
    padding-bottom: 10px;
}
.project h4 + p {
    font-size: 14px;
}
.project .left .wrap {
    padding-top: 20px;
}
.project .device {
    width: 670px;
    height: 455px;
    image-rendering: auto;
}
.sec4 {
    overflow: hidden;
}
.modal {
    width: 80%;
    height: 980px;
    background-size: cover;
    background-position: center;
}
.sec4 h2 {
    font-size: 50px;
    padding-bottom: 30px;
}
.sec4 p {
    font-size: 20px;
}