body {
    width: 100%;
}
.inner {
    width: 95%;
}
.sec1::before {
    width: 77vw;
    height: 90vh;
}
.sec1 > .inner p {
    right: -200px;
}
h2 {
    font-size: 70px;
}
.sec2 .textWrap {
    padding-left: 30px;
}
.sec2 h2 + p {
    font-size: 35px;
}
.sec2 h2 + p::before {
    top: 0;
    left: -14%;
    font-size: 150px;
}
.sec2 h2 + p::after {
    right: 0;
    bottom: 0;
    font-size: 150px;
}
.talk02 {
    margin-left: 120px;
}
.talk04 {
    margin-left: 220px;
}
.sec4 {
    overflow: hidden;
}