body {
    min-width: 100%;
}
.inner {
    width: 100%;
    padding: 0 2.5%;
}
.header_top {
    width: 100%;
    position: fixed;
    z-index: 200;
    transform: translateX(100%);
    border-bottom: hidden;
    height: 60px;
    padding: 12px 0;
    background: #3b414d;
    transition: transform 0.5s;
}
.header_top.on {
    transform: translateX(0);
    transition: transform 0.5s;
}
.header_top .zoom {
    display: none;
}
.header_top.on > .inner {
    justify-content: flex-start;
}
.header_bottom {
    background: #fff;
    height: 60px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}
.header_bottom > .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
}
.gnb {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.5s;
    background: #fff;
    display: flex;
    flex-direction: row;
}
.gnb.on {
    transform: translateX(0);
    transition: transform 0.5s;
}
.gnbsub {
    display: block;
    justify-content: flex-start;
    position: unset;
    width: calc(100% - 157px);
    min-width: 100px;
    height: auto;
}
.gnbsub .inner {
    display: block;
}
.gnbsub .sub {
    width: calc(100% - 157px);
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    border-left: unset;
    margin: 151px 0;
    text-align: left;
}
.gnbsub::before {
    width: 65%;
    height: 457px;
    right: -40px;
    top: 22%;
}
.gnbsub .sub.on {
    transform: translateX(0);
    transition: all 0.5s;
}
.sub li a {
    font-size: 18px;
    display: block;
    padding: 15px 50px;
}
.sub li a.on {
    color: #003A5E;
}
.sub li a::before {
    content: none;
}
.nav {
    display: inline-block;
    width: 157px;
    height: 100vh;
    flex-direction: column;
    background-color: #efefef;
    padding-top: 140px;
    justify-content: flex-start;
}
.nav > li {
    margin: 0;
    text-align: center;
}
.nav > li a.on {
    background: #003A5E;
    color: #fff;
}
.nav > li > a {
    color: #000;
    font-size: 20px;
    padding: 30px 20px;
    display: block;
}
.nav > li > a::after {
    content: none;
}
.close {
    display: block;
    position: fixed;
    right: 18px;
    top: 12px;
    color: #fff;
    font-size: 33px;
}
.hamburger {
    display: inline-block;
    color: #000;
    font-size: 24px;
}
.logo {
    width: 166px;
    height: 29px;
    background: url(/ezIHK/minwon_police/img/logo.png) no-repeat center / cover;
}
.topBanner {
    height: 230px;
    margin-top: 60px;
}
aside {
    display: none;
}
.search {
    width: 330px;
}
.search > input {
    height: 45px;
}
.search > h2 {
    font-size: 20px;
}
.search > p {
    font-size: 16px;
}
.pageSummary > p {
    font-size: 14px;
}
.contents {
    flex: none;
    width: 100%;
}
.infoWrap > h4 {
    font-size: 18px;
}
.infoWrap > p,
.infoWrap > span {
    font-size: 14px;
}
.infoWrap:nth-of-type(1),
.infoWrap:nth-of-type(2),
.infoWrap:nth-of-type(3) {
    padding-bottom: 45px;
}
.cirWrap {
    flex-wrap: wrap;
    width: 383px;
}
.cirWrap > span:nth-child(1), .cirWrap > span:nth-child(2),
.cirWrap > span:nth-child(3) {
    margin-bottom: 20px;
}
.cirWrap > span:nth-child(4)::before {
    content: none;
}

.footer_link li a {
    margin: 0;
    font-size: 13px;
}
.site_go > .btWrap ul,
.site_go button {
    font-size: 13px;
    width: 160px;
}
.footerBottom > p {
    font-size: 13px;
}