body {
    min-width: 100%;
}
.inner {
    width: 100%;
    padding: 0 2.5%;
}
.header_top {
    width: 100%;
    position: fixed;
    z-index: 200;
    transform: translateX(100%);
    border-bottom: hidden;
    height: 60px;
    padding: 12px 0;
    background: #3b414d;
}
.header_top.on {
    transform: translateX(0);
    transition: all 0.5s;
}
.header_top .zoom {
    display: none;
}
.header_top.on > .inner {
    justify-content: flex-start;
}
.header_bottom {
    background: #fff;
    height: 60px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}
.header_bottom > .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
}
.gnb {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(100%);
    background: #fff;
    display: flex;
    flex-direction: row;
}
.gnb.on {
    transform: translateX(0);
    transition: all 0.5s;
}
.gnbsub {
    display: block;
    justify-content: flex-start;
    position: unset;
    width: calc(100% - 110px);
    min-width: 100px;
    height: auto;
}
.gnbsub .inner {
    display: block;
}
.gnbsub .sub {
    width: calc(100% - 137px);
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    border-left: unset;
    margin: 114px 0;
    text-align: left;
}
.gnbsub::before {
    width: 65%;
    height: 457px;
    right: -40px;
    top: 22%;
}
.gnbsub .sub.on {
    transform: translateX(0);
    transition: all 0.5s;
}
.sub li a {
    font-size: 14px;
    display: block;
    padding: 5px 0;
}
.sub li a.on {
    color: #003A5E;
}
.sub li a::before {
    content: none;
}
.nav {
    display: inline-block;
    width: 110px;
    height: 100vh;
    flex-direction: column;
    background-color: #efefef;
    padding-top: 110px;
    justify-content: flex-start;
}
.nav > li {
    margin: 0;
    text-align: center;
}
.nav > li a.on {
    background: #003A5E;
    color: #fff;
}
.nav > li > a {
    color: #000;
    font-size: 16px;
    padding: 15px;
    display: block;
}
.nav > li > a::after {
    content: none;
}
.close {
    display: block;
    position: fixed;
    right: 18px;
    top: 12px;
    color: #fff;
    font-size: 33px;
}
.hamburger {
    display: inline-block;
    color: #000;
    font-size: 24px;
}
.logo {
    width: 166px;
    height: 29px;
    background: url(/portfolio/minwon_police/img/logo.png) no-repeat center / cover;
}
.main {
    height: 480px;
    padding-top: 60px;
    background: url(/portfolio/minwon_police/img/bg_02.jpg) no-repeat center / cover;
}
.main::before {
    height: 420px;
}
.main .inner {
    display: flex;
    justify-content: center;
}
.main_txt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    text-align: center;
    margin: 0 auto;
}
.main h1, .main p {
    font-size: 30px;
}
.search {
    width: 267px;
    margin-top: 30px;
}
.search > input {
    height: 42px;
}
.searchIcon {
    width: 17px;
    height: 17px;
}
h2 {
    font-size: 20px;
}
.frequentSurvice > .inner {
    padding: 30px 2.5%;
}
.frequentSurvice > .inner > .menuWrap {
    flex-wrap: wrap;
}
.frequentSurvice > .inner a {
    width: calc((100% - 40px)/3);
    font-size: 14px;
}
.frequentSurvice > .inner a:nth-child(1),
.frequentSurvice > .inner a:nth-child(2),
.frequentSurvice > .inner a:nth-child(3) {
    margin-bottom: 15px;
}
.frequentSurvice .cir {
    width: 80px;
    height: 80px;
}
.frequentSurvice .menu {
    width: 40px;
    height: 40px;
}
.article h3 {
    text-align: center;
}
.qna::after {
    box-shadow: 60px 0px #003a5e, 88px 0px #7f9cae;
}  
.qna::before {
    box-shadow: -89px 0px #32617e, -126px 0px #7f9cae;
}
.tab {
    overflow: auto;
}
.tab li {
    margin-right: 0;
}
.tab span {
    width: 130px;
    font-size: 15px;
}
.qna .txtWrap .moreView {
    bottom: 26px;
}
.contents > .conBox {
    height: 340px;
}
.contents > .conBox > li {
    width: calc((100% - 20px)/2);
    height: 135px;
}
.contents > .conBox > li:nth-child(4) ~ * {
    display: none;
}
.contents > .conBox > li:nth-child(2), .contents > .conBox > li:nth-child(4) {
    margin-right: 0;
}
.contents > .conBox > li > a {
    padding: 15px;
    font-size: 14px;
}
.articleWrap {
    flex:none;
    padding-bottom: 0;
}
.article > .inner {
    display: block;
    overflow: hidden;
}
.articleWrap > .txtWrap {
    display: block;
    position: relative;
}
.moreView, .notice li {
    font-size: 14px;
}
.moreView {
    position: absolute;
    right: 0px;
    bottom: 15px;
}
.notice a {
    font-size: 13px;
    display: inline-block;
    width: 75%;
}
.notice span {
    width: 25%;
    font-size: 13px;
    display: inline-block;
    text-align: end;
}
.notice li {
    margin-bottom: 27px;
}
.notice li:nth-child(4) ~ * {
    display: none;
}
.call {
    flex: none;
    float: none;
    width: 100%;
}
.slide {
    flex: none;
    float: none;
    width: 100%;
}
.slide .ba {
    height: 95vw;
}
.call .txtWrap {
    height: 46vw;
}
.qna > .inner, .article > .inner {
    padding: 60px 2.5%;
}
.btns {
    position: absolute;
    bottom: 20px;
}
.bannerInfo {
    clear: both;
    background-size: auto;
}
.bannerInfo > .inner > .txtWrap {
    padding: 65px 0 20px 0;
}
.bannerInfo > .inner > .txtWrap > p {
    font-size: 13px;
}
.bannerInfo > .inner > .txtWrap > h3 {
    font-size: 16px;
}
.info {
    width: 100%;
    flex: none;
    padding: 25px;
}
.infoWrap {
    flex-wrap: wrap;
}
.info p:first-of-type::after {
    width: 40px;
    height: 40px;
    top: -8px;
}
.info p:first-of-type {
    font-size: 18px;
    padding-bottom: 26px;
}
.info p:last-of-type {
    font-size: 14px;
    line-height: 1.6;
    padding-bottom: 10px;
    min-height: 80px;
}
.info .bt a {
    font-size: 13px;
}
.site {
    padding: 30px 0;
}
.footerTop {
    flex-direction: column-reverse;
}
.footer_link {
    text-align: center;
}
.footer_link li:nth-child(2) {
    display: none;
}
.footer_link li a {
    margin: 0;
    font-size: 13px;
}
.footer_link li:nth-child(3)::before {
    width: 1px;
    height: 12px;
    background: #fff;
    content: "";
    position: absolute;
    left: -3px;
    top: 8px;
}
.site_go {
    text-align: center;
    padding-bottom: 20px;
}
.site_go > .btWrap ul,
.site_go button {
    font-size: 13px;
    width: 185px;
}
.footerBottom > p {
    font-size: 13px;
    text-align: center;
}
.modal {
    width: 80%;
    font-size: 14px;
    word-break: keep-all;
}
.modal br {
    display: none;
}