@charset "utf-8";

body {
    min-width: 100%;
}
.inner {
    width: 95%;
}
.nav {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    z-index: 200;
    padding-top: 20%;
    background-color: #fff;
    transform: translateX(100%);
    flex-direction: column;
}
header > .inner {
    width: 100%;
}
header > .inner > .on {
    transform: translateX(0);
    transition: all 0.3s;
}
.nav > li {
    width: auto;
}
.nav > li > a {
    width: 200px; 
    display: inline-block;
    padding-right: 20px;
    font-size: 1.5rem;
    color: #4D4D4D;
    height: 80px;
    line-height: 80px;
}
.nav li a:hover {
    color: #4D4D4D;
}
.nav .sub {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow-y: hidden;
}
.brandBt ~ .on {
    height: 100px;
    transition: all 0.3s;
}
.techBt ~ .on {
    height: 300px;
    transition: all 0.3s;
}
.nav .sub li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
}
.nav .sub li > a {
    display: inline-block;
    font-size: 1rem;
    color: #4D4D4D;
}
.close {
    position: fixed;
    right: 20px;
    top: 20px;
    display: block;
    color: #4D4D4D;
}
.closeBt {
    display: block;
    font-size: 40px;
}
header.on .hamburger {
    color: #4d4d4d;
}
.hamburger {
    display: block;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 20px;
}
header > .inner {
    display: flex;
    justify-content: center;
}
.main_video {
    height: auto;
}
.brandStory {
    height: 100vh;
    background-position: top;
}
.brandStory > .inner > .main_txt {
    text-align: center;
}
h2 {
    font-size: 55px;
}
h2::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #D0112B;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 40px;
}
.main_txt > p , .tech_txt > p , .career_txt > p {
    font-size: 18px;
}
.sec > .tech {
    height: 100vh;
}
.sec > .news {
    height: 100vh;
}
.news > .inner > .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news > .inner > .banner > .img_ba {
    width: 100%;
    height: 360px;
}
.news > .inner > .banner > .img_ba > .baWrap .ba {
    height: 38vh;
}
.news > .inner > .banner > .img_ba > .baWrap > .ba1 {
    background-position: unset;
}
.img_ba br,
.img_ba > .baWrap > .ba > .title > .titleWrap > .news_date {
    display: none;
}
.img_ba > .baWrap .ba > .title > .titleWrap > .news_date > .month {
    display: block;
}
.banner > .text_ba {
    width: 100%;
    height: 540px;
    padding: 30px;
}
.news_title {
    font-size: 20px;
}
.banner > .text_ba > .wrap > .text::after {
    width: 100%;
}
.career {
    height: 100vh;
    background-position: 20%;
}
.career_txt {
    text-align: center;
}
footer {
    height: 140px;
    padding: 15px 0;
}
.footer_txt {
    font-size: 12px;
}
.footer_txt > ul {
    justify-content: center;
}
footer > .inner {
    display: flex;
    flex-direction: column-reverse;
} 
.footer_left > .logo {
    display: none;
}
.footer_right {
    padding-bottom: 15px;
}
