body {
    overflow-x: hidden;
    min-width: 100%;
}
.inner {
    width: 95%;
}
nav {
    width: 100%;
}
nav > .navWrap {
    width: 100%;
    height: 100%;
    float: none;
    top: 0;
    transform: none;
    padding: 0;
}
nav > .close {
    height: 70px;
    float: none;
    position: fixed;
    top: 0;
    right: 0;
    border-left: 0;
}
.closeBt {
    position: absolute;
    right: 30px;
    top: 35px;
}
nav > .navWrap > .gnb > li::after {
    content: none;
}
nav > .navWrap > .gnb > li {
    padding-left: 0;
    text-align: center;
}
nav > .navWrap > .gnb > li > a {
    padding: 30px 0;
    display: block;
    font-size: 18px;
}
nav > .navWrap > .gnb > li > a.on {
    border-top: 1px solid #efefef;
    border-bottom: 2px solid #EE2D23;
    border-right: 1px solid #fff;
    background: #fff;
}
nav > .navWrap > .gnb {
    width: 110px;
    height: 100vh;
    float: left;
    padding: 145px 0 0 0;
    position: relative;
    background: #f7f7f78c;
}
nav > .navWrap > .gnb::after {
    content: "";
    width: 1px;
    height: 100vh;
    background: #efefef;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
nav > .navWrap > .gnb > li {
    width: 100%;
}
nav > .navWrap > .subgnb {
    float: right;
    width: calc(100% - 110px);
    height: 100%;
    position: relative;
}
nav > .navWrap > .subgnb > li {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.5s;
    padding: 167px 0 0 25px;
    text-align: left;
}
nav > .navWrap > .subgnb > li.on {
    transform: translateX(0);
    transition: all 0.5s;
}
.subgnb > li > ul > li {
    width: auto;
    font-size: 16px;
}
.subgnb .sub {
    display: none;
    margin: 10px 0 0 0;
}
.section1 {
    background: url(/portfolio/woojeong/img/main03-1.png) no-repeat center / cover;
}
.section1 .textWrap {
    top: 22%;
    transform: none;
}
.section1 .textWrap::after {
    font-size: 130px;
    top: -72px;
}
.section1 .textWrap h1 {
    font-size: 55px;
}
.section1 .textWrap span {
    font-size: 40px;
    top: 5px;
}
.section1 .textWrap > p {
    font-size: 14px;
    word-break: keep-all;
    line-height: 2;
}
.wordWrap {
    padding-bottom: 9%;
}
.boxWrap {
    width: 100%;
    top: -35%;
}
.boxWrap > div {
    width: 100%;
    height: 195px;
    padding: 10px;
}
.boxWrap > .notice {
    height: 115px;
}
.boxWrap .info, .boxWrap .notice {
    float: none;
}
.boxWrap .info p, .boxWrap .notice span,
.boxWrap .notice a {
    font-size: 14px;
}
.boxWrap .info > p {
    padding-bottom: 10px;
}
.boxWrap .info > p > span:first-child,
.boxWrap .info > p > span:last-child {
    width: 100%;
}
.boxWrap .info > p > span:first-child {
    font-weight: 500;
    padding-bottom: 10px;
}
.boxWrap .info > p > span:first-child::after {
    content: none;
}
.notice li {
    padding-bottom: 15px;
}
.notice li > a {
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.notice li > span {
    width: 28%;
}
.boxWrap .boxTitle {
    padding-bottom: 20px;
    font-size: 22px;
}
.section2 .inner {
    padding: 80px 0;
}
.ti {
    font-size: 20px;
}
h2 {
    font-size: 30px;
    padding-bottom: 35px;
}
.section2 .col {
    width: calc(( 100% - 4px ) / 2 );
    padding: 0;
}
.section2 .col1 {
    float: left;
}
.section2 .col2 {
    float: right;
    margin-top: 0;
}
.section2 .textWrap {
    float: none;
    width: 100%;
    padding-right: 0;
    text-align: center;
    top: 6%;
    transform: none;
}
.tabBoxWrap {
    height: 200px;
    min-height: auto;
    margin-bottom: 50px;
}
.col1 > .tabButton {
    margin-right: 0;
}
.tabButton {
    width: 100%;
    height: auto;
    padding: 28px 0;
    margin-bottom: 4px;
}
.tabButton.on {
    border: 0;
    box-shadow: 0 0 0 2px #EE2D23 inset; 
}
.tabButton span {
    display: none;
}
.tabButton p {
    font-size: 18px;
    padding-bottom: 0;
}
.tabButton p::after {
    width: 17px;
    height: 8px;
    top: -15px;
}
.tabBox {
    width: 100%;
}
.tabBox p {
    padding-bottom: 0;
    margin-bottom: 20px;
}
.tabBox p br {
    display: none;
}
.tabBox p, .section3 .textWrap {
    font-size: 14px;
    word-break: keep-all;
}
.section3 .textWrap {
    text-align: center;
    top: 6%;
    float: none;
}
.section3 .textWrap > .titleWrap {
    padding-bottom: 0;
}
.section3 .textWrap > p br {
    display: none;   
}
.moreView {
    font-size: 14px;
    padding-top: 10px;
}
.section3 .textWrap .moreView, .slideBox .moreView,
.section4 .textWrap .moreView {
    padding-top: 15px;
}
.section3 .slideBox, .section3 .slick-slide {
    width: 200px;
}
.section3 .stampSlideWrap {
    top: auto;
    left: auto;
    bottom: 45px;
    transform: none;
}
.section3 .slideBox > .slideTitle {
    font-size: 16px;
    letter-spacing: -1px;
    padding: 10px 0;
}
.section3 .slideBox, .section3 .slick-slide {
    padding: 15px;
}
.stamp {
    width: 170px;
    height: 140px;
}
.section3 .slideBox.on .stamp {
    width: 120px;
    height: 95px;
}
.section3 .slideBox > .line {
    width: auto;
}
.section3 .slideBox.on .clickShow {
    height: 150px;
    word-break: inherit;
    font-size: 14px;
    padding: 0;
}
@media all and (max-height:741px) {
    .section3 .textWrap .moreView, .section3 .textWrap > p {
        display: none;
    }
}
.section4::before, .section4::after,
.section4 .baWrap::before,
.section4 .baWrap::after,
.section4 > .inner > h2::before,
.section4 .inner::before,
.section4 > .inner > h2::after {
    content: none;
    display: none;
}
.section4 {
    background: none;
}
.section4 h2 {
    padding-top: 10%;
}
.section4 .ba {
    height: auto;
    width: 100%;
    height: 40vw;
}
.section4 .ba2 {
    margin: 0;
}
.section4 .ba > .baText {
    font-size: 14px;
}
.section4 .ba > .baText > span {
    font-size: 20px;
    padding-bottom: 15px;
}
.section4 .textWrap {
    padding-top: 0;
    text-align: center;
}
.section4 .textWrap h2 {
    text-align: center;
    padding-top: 100px;
}
.section4 .textWrap p {
    font-size: 14px;
}
.section4 .textWrap, .map {
    float: none;
}
.map {
    width: 100%;
    height: 350px;
    margin-top: 5%;
}
footer {
    font-size: 13px;
    padding: 20px 0;
}
.footerlogo {
    margin: 0;
    text-align: center;
    display: block;
    padding: 10px 0;
    float: none;
}
footer .textWrap {
    float: none;
    text-align: center;
}
footer .textWrap > p:first-child {
    padding-bottom: 5px;
}
.scroll {
    position: absolute;
    width: 100%;
    top: 2%;
    right: 0;
    padding: 0 20px;
}
.scroll > div:first-of-type {
    float: left;
}
.scroll > div:last-of-type {
    float: right;
}
.hamberger {
    display: inline-block;
    background: url(/portfolio/woojeong/img/sort.svg) no-repeat center / cover;
    width: 40px;
    height: 42px;
}
.logo, .menuBt {
    margin: 0;
}
.menuBt {
    font-size: 0;
}
.scroll > ul, .scroll::after {
    display: none;
}