@charset "utf-8";

body {
    min-width: 100%;
}
.inner_1500 {
    width: 95%;
    padding-bottom: 60px;
}
.inner_1500 > .inner {
    padding-top: 55px;
}
h3 {
    font-size: 40px;
    padding-bottom: 25px;
}
.inner {
    width: 95%;
}
.nav_left, .nav_right {
    display: none;
}
.hamburger {
    display: block;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 20px;
}
header > .inner {
    display: flex;
    justify-content: center;
}
.cateBanner {
    height: 400px;
}
.cateBanner::before {
    height: 400px;
}
.cateBanner > .inner > .wrap {
    width: 95%;
}
.cateBanner > .inner > .wrap > h2 {
    font-size: 45px;
}
.cateBanner > .inner > .wrap > h2::after {
    width: 8px;
    height: 8px;
    border-radius: 8px;
}
.cateBanner > .inner > .wrap > p {
    font-size: 16px;
}
.tab > .inner {
    width: 95%;
    height: 60px;
    overflow: scroll;
}
.tab > .inner > ul > li > a {
    margin-right: 30px;
}
.fabric {
    flex-direction: column-reverse;
    padding-bottom: 80px;
}
.fabric_img {
    width: 100%;
    height: 50vw;
    margin-bottom: 20px;
}
.fabric_txt {
    text-align: center;
}
.fabric_txt p {
    font-size: 14px;
    padding-bottom: 10px;
}
.fabric_txt > .icon {
    width: 100%;
    justify-content: center;
    gap: 5px;
}
.fabric_txt > .icon > li {
    width: 70px;
    height: 70px;
}
.fabric_txt > .icon > .soft {
    background-size: cover;
}
.fabric_txt > .icon > .stretch {
    background-size: cover;
}
.fabric_txt > .icon > .sweat {
    background-size: cover;
}
.fabric_txt > .icon > .pressure {
    background-size: cover;
}
.fabric_txt > .icon > .breathability {
    background-size: cover;
}
.fabric_txt > .icon > .durability {
    background-size: cover;
}
.fabric_txt > .icon > .antibacterial {
    background-size: cover;
}
.fabric_txt > .icon > .smelling {
    background-size: cover;
}
.fabric_txt > .icon > .light {
    background-size: cover;
}
.fabric_txt > .icon > .dry {
    background-size: cover;
}
.fittingCut {
    height: auto;
    margin-bottom: 30px;
}
.fittingCut > .fitting_img1 {
    width: 100%;
    height: 108vw;
}
.fittingCut > .fitting_img2 {
    display: block;
    width: 100%;
    height: 60vw;
    position: unset;
}
.fittingCut > .imgWrap {
    position: unset;
}
.fittingCut > .imgWrap > .fitting_img3, .fittingCut > .imgWrap > .fitting_img4 {
    width: 50%;
    height: 61vw;
}
.fullBg {
    width: 100%;
    height: 42vw;
    margin-bottom: 60vw;
}
.fittingCut > .luon_img1::before {
    display: none;
}
.fittingCut > .luxtreme_img1::before {
    display: none;
}
.fittingCut > .silverescent_img1::before {
    display: none;
}
.fittingCut > .nulu_img1::before {
    display: none;
}
.fittingCut > .nulux_img1::before {
    display: none;
}
.fittingCut > .everlux_img1::before {
    display: none;
}
.fullBg > .productSlide {
    width: 100%;
    top: 25px;
    left: 0;
    transform: translateY(50vw);
}
.fullBg > .productSlide > .slideTitle {
    width: 95%;
    padding-bottom: 12px;
}
.fullBg > .productSlide > .slideTitle > p {
    font-size: 14px;
    padding: 0 15px;
}
.fullBg > .productSlide > .slideTitle > p::before {
    width: 6px;
    height: 6px;
    border-radius: 6px;
}
.slideWrap .product_img {
    height: 39vw;
}
.fullBg > .productSlide > .slideTitle > .arrow {
    width: 30px;
}
.fullBg > .productSlide > .slideTitle > .arrow::after {
    width: 8px;
    bottom: 2px;
    left: 0;
}
.slideWrap .product_img:hover::before {
    display: none;
}
.slideWrap .product_txt {
    width: 100%;
    height: 100%;
    transform: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
}
.slideWrap .product_txt::before {
    display: none;
}
.slideWrap > .product_img:hover > .product_txt {
    opacity: 1;
    transition: unset;
}
.slideWrap .product_txt p:first-child {
    font-size: 12px;
    height: 55px;
}
.slideWrap .product_txt p:last-child {
    height: 40px;
}
footer {
    height: 140px;
    padding: 15px 0;
}
.footer_txt {
    font-size: 12px;
}
.footer_txt > ul {
    justify-content: center;
}
footer > .inner {
    display: flex;
    flex-direction: column-reverse;
} 
.footer_left > .logo {
    display: none;
}
.footer_right {
    padding-bottom: 15px;
}
